# Murderer or Victim?

### Problem statements (objectives):
    - What are the chances that you are either a murderer or a victim depending on the set variables and attributes
    - What are the characteristics of murderers or victims
    - What kind of relationship is between the data
    - Identify the serial killer activity per location and year
    - Identify interasting relationships (correlation) between different variables later to be used for building a 
        decision tree and clustering
        
        
    - AUDIENCElike you are working for someone 
    - how safe is your state
    - how do you sell it to police (to sell this product)
    - location wise perp/vic
    - construction company 
    - age groups --> can ew improve education (can we improve) 
    - propose to state gov. 
    - whats the solution if proposal
    - yes/npo 
    - 3 departments (wants bigger university, construc community, police) by show of hands what will you support 
    - each have 3 minutes --> competition 
    - write it as a storyline (question biggest - safedt location..., more people in university)
    - how to get to that conclusion 
    - another notebook for presentation (asking for money) --> monopoly --> collect 
    - who cares? apply it to specific question --> put it to them hands to care (hook in)
    - questions --> make you point 
    - pass the hat to collect the momey --> moderator (anonymous voting) --> online 
    - whats the million dollar question ? 3 questions 
    - real comptetitions --> attacking each other fighting over million dollars (or live debate --> atack back your project is stupid can prove it)
    - just insight 
    
### Glossary

Our main homocide dataset consists of 24 columns of 638,454 rows. Features are explained in detail in the getting to know the data section. The following features (variables) are integer based and will be used for calculations:
    1. The record ID simply signifies the number of rows)
    2. Year and month data was collected from 1980-2014 (depending on location)
    3. Incident are the case(s) for which these other features were collected (e.g. 1 incident for year 2014 in CT etc.)
    4. Victim Age
    5. Perpetrator Age
    6. Victim Count and Perpertrator Count starting with zero and maximum value of 10 (the original dataset) tells us about        the number of victims and perpetrators involved in a particular incident.  
    
The folowing columns are an object data type:
    1. Agency code is six-digit alphanumeric code used to classify accounts by the federal or non-federal agency. 
        The alpha part of the code is the parent or major agency. The numeric part of the code identifies the sub-agency.
    2. Agency name
    3. Agency type 
    4. City, state
    5. Victim and perpetrator sex, ethnicity, race, relationship
    6. Crime type
    # Murder or Mansloughter
    # Mansloughter by negligence
    7. Crime solved
    8. Weapon
    
### Data Source and Content

Source: https://www.kaggle.com/murderaccountability/homicide-reports

The Murder Accountability Project is the most complete database of homicides in the United States currently available. This dataset includes murders from the FBI's Supplementary Homicide Report from 1976 to the present and Freedom of Information Act data on more than 22,000 homicides that were not reported to the Justice Department. This dataset includes the age, race, sex, ethnicity of victims and perpetrators, in addition to the relationship between the victim and perpetrator and weapon used.

Acknowledgements

The data was compiled and made available by the Murder Accountability Project, founded by Thomas Hargrove.

## 1. Data exploration and finding errors

The intention here is to get to know the data and identify errors column by column.

In [2]:
# importing libraries
# testing

import pandas as pd # importing, data manipulation, subsetting
import numpy as np # linear algebra

In [3]:
# reading in the csv file 
# the file is csv so we use the comma separator 
data = pd.read_csv("US HOMOCIDE REPORT.csv")

# diplay first 3 and last 3 rows of the dataset
head = data.head(3)
tail = data.tail(3)

# concatonate it together 
pd.concat([head,tail])

FileNotFoundError: [Errno 2] File b'US HOMOCIDE REPORT.csv' does not exist: b'US HOMOCIDE REPORT.csv'

In [3]:
# data inspection

# from our output and warning we see that "Perpetrator Age" column is considered and object while it should be an integer
# no-null values found yet 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638454 entries, 0 to 638453
Data columns (total 24 columns):
Record ID                638454 non-null int64
Agency Code              638454 non-null object
Agency Name              638454 non-null object
Agency Type              638454 non-null object
City                     638454 non-null object
State                    638454 non-null object
Year                     638454 non-null int64
Month                    638454 non-null object
Incident                 638454 non-null int64
Crime Type               638454 non-null object
Crime Solved             638454 non-null object
Victim Sex               638454 non-null object
Victim Age               638454 non-null int64
Victim Race              638454 non-null object
Victim Ethnicity         638454 non-null object
Perpetrator Sex          638454 non-null object
Perpetrator Age          638454 non-null object
Perpetrator Race         638454 non-null object
Perpetrator Ethnicity    638454 non-null object
Relationship             638454 non-null object
Weapon                   638454 non-null object
Victim Count             638454 non-null int64
Perpetrator Count        638454 non-null int64
Record Source            638454 non-null object
dtypes: int64(6), object(18)
memory usage: 116.9+ MB

In [4]:
data.isnull()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638451,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638452,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638453,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
# unique values for agency code
data["Agency Code"].unique()

array(['AK00101', 'AK00103', 'AK00106', ..., 'WA01750', 'WA02705',
       'WVWSP65'], dtype=object)

In [6]:
# value counts for agency code

# New York, California, and Ilionios agencys are observed the most 
data["Agency Code"].value_counts()

NY03030    38416
CA01942    23663
ILCPD00    21331
MI82349    17206
TXHPD00    12881
           ...
WI04513        1
TN04802        1
MO08600        1
IL08204        1
KY00502        1
Name: Agency Code, Length: 12003, dtype: int64

In [7]:
data["Crime Solved"].value_counts()

Yes    448172
No     190282
Name: Crime Solved, dtype: int64

In [8]:
# unique values for agency type
data["Agency Name"].unique()

array(['Anchorage', 'Juneau', 'Nome', ..., 'Sp: Hundred',
       'Sheridan County', 'Sublette County'], dtype=object)

In [9]:
# unique values for agency type
data["Agency Name"].value_counts()

New York          38416
Los Angeles       29007
Chicago           21331
Detroit           17206
Houston           13046
                  ...
Big Stone             1
Pilot Rock            1
Little Compton        1
Kendall County        1
Gila County           1
Name: Agency Name, Length: 9216, dtype: int64

In [10]:
# unique values for agency type
data["Agency Type"].unique()

array(['Municipal Police', 'County Police', 'State Police', 'Sheriff',
       'Special Police', 'Regional Police', 'Tribal Police'], dtype=object)

In [11]:
# unique values for agency type
data["Agency Type"].value_counts()

Municipal Police    493026
Sheriff             105322
County Police        22693
State Police         14235
Special Police        2889
Regional Police        235
Tribal Police           54
Name: Agency Type, dtype: int64

In [12]:
# unique values for agency type
data["City"].unique()

array(['Anchorage', 'Juneau', 'Nome', ..., 'Rooks', 'McCone', 'Antelope'],
      dtype=object)

In [13]:
# unique values for agency type
# We see small cities like Cook, Wayne and Harrison with large amounts of incident reports
# We will not use cities 
data["City"].value_counts()

Los Angeles      44511
New York         38431
Cook             22383
Wayne            19904
Harris           16331
                 ...
Gosper               1
Foard                1
Yukon-Koyukuk        1
Sully                1
Haines               1
Name: City, Length: 1782, dtype: int64

In [14]:
# unique values for agency type
state_count = data["State"].value_counts()
state_count

California              99783
Texas                   62095
New York                49268
Florida                 37164
Michigan                28448
Illinois                25871
Pennsylvania            24236
Georgia                 21088
North Carolina          20390
Louisiana               19629
Ohio                    19158
Maryland                17312
Virginia                15520
Tennessee               14930
Missouri                14832
New Jersey              14132
Arizona                 12871
South Carolina          11698
Indiana                 11463
Alabama                 11376
Oklahoma                 8809
Washington               7815
District of Columbia     7115
Arkansas                 6947
Colorado                 6593
Kentucky                 6554
Mississippi              6546
Wisconsin                6191
Massachusetts            6036
Nevada                   5553
Connecticut              4896
New Mexico               4272
Oregon                   4217
Minnesota                3975
Kansas                   3085
West Virginia            3061
Utah                     2033
Iowa                     1749
Alaska                   1617
Hawaii                   1338
Nebraska                 1331
Rhodes Island            1211
Delaware                 1179
Idaho                    1150
Maine                     869
New Hampshire             655
Wyoming                   630
Montana                   601
South Dakota              442
Vermont                   412
North Dakota              308
Name: State, dtype: int64

In [15]:
# District of Columbia is included
# We will treat it as a state
state_count.count()

51

In [16]:
# unique values for agency type
state_count.describe()

count       51.000000
mean     12518.705882
std      17686.520705
min        308.000000
25%       1683.000000
50%       6554.000000
75%      15225.000000
max      99783.000000
Name: State, dtype: float64

In [17]:
# unique values for agency type
# 35 years worth of data
data["Year"].value_counts().count()

35

In [18]:
# unique values for agency type
# 12 months
data["Month"].value_counts().count()

12

In [19]:
# unique values for agency type
# Need assumption here
data["Incident"].value_counts()

1      265528
2       71779
3       39236
4       27113
5       20658
        ...
784        16
783        16
782        16
781        16
0          16
Name: Incident, Length: 1000, dtype: int64

In [20]:
# unique values for agency type
data["Crime Type"].value_counts()

Murder or Manslaughter        629338
Manslaughter by Negligence      9116
Name: Crime Type, dtype: int64

In [21]:
# unique values for agency type
data["Crime Solved"].value_counts()

Yes    448172
No     190282
Name: Crime Solved, dtype: int64

In [22]:
# unique values for agency type
data["Victim Sex"].value_counts()

Male       494125
Female     143345
Unknown       984
Name: Victim Sex, dtype: int64

In [23]:
# unique values for agency type
data["Victim Age"].value_counts()

22    23049
20    23031
25    22939
21    22796
23    22438
      ...
94      116
95       82
97       39
96       37
98       33
Name: Victim Age, Length: 101, dtype: int64

In [24]:
# unique values for agency type
# does the age 0 represent killing of newborns?
data["Victim Age"].describe()

count    638454.000000
mean         35.033512
std          41.628306
min           0.000000
25%          22.000000
50%          30.000000
75%          42.000000
max         998.000000
Name: Victim Age, dtype: float64

In [25]:
# set the upper limit for the errors
data["Victim Age"].max()

998

In [26]:
# unique values for agency type
data["Victim Race"].value_counts()

White                            317422
Black                            299899
Asian/Pacific Islander             9890
Unknown                            6676
Native American/Alaska Native      4567
Name: Victim Race, dtype: int64

In [27]:
# unique values for agency type
data["Victim Ethnicity"].value_counts()

Unknown         368303
Not Hispanic    197499
Hispanic         72652
Name: Victim Ethnicity, dtype: int64

In [28]:
# unique values for agency type
# Lots of missing values (0)
# +1
data["Victim Count"].value_counts()

0     586059
1      38750
2       8156
3       2847
4       1084
5        510
9        290
6        286
7        168
10       160
8        144
Name: Victim Count, dtype: int64

In [29]:
# unique values for agency type
# Lots of missing values (0)
# limit to age has to be set
data["Perpetrator Age"].value_counts()

0     211079
20     21158
19     19807
21     18509
18     18477
       ...
           1
10         1
93         1
95         1
6          1
Name: Perpetrator Age, Length: 191, dtype: int64

In [30]:
# unique values for agency type
# Lots of missing values (0)
# fromat error --> strings, and spaces
data["Perpetrator Age"].unique()

array([15, 42, 0, 36, 27, 35, 40, 49, 39, 29, 19, 23, 33, 26, 41, 28, 61,
       25, 7, 17, 34, 21, 43, 38, 66, 32, 37, 22, 30, 24, 65, 51, 60, 45,
       64, 18, 20, 44, 73, 62, 69, 52, 16, 90, 56, 47, 57, 31, 46, 14, 55,
       50, 54, 68, 77, 53, 67, 48, 76, 58, 71, 63, 89, 13, 75, 72, 93, 59,
       10, 11, 79, 74, 99, 70, 78, 80, 9, 12, 81, 6, 87, 82, 83, 8, 84,
       85, 86, 5, 3, 1, 88, 95, 4, 91, 92, 96, 94, 2, 98, 97, '22', '52',
       '21', '0', '25', '61', '32', '28', '20', '38', '18', '17', '53',
       '30', '24', '84', '43', '16', '47', '54', '50', '42', '23', '36',
       '35', '60', '27', '19', '14', '57', '63', '81', '31', '58', '51',
       '15', '40', '33', '26', '41', '29', '34', '37', '69', '44', '48',
       '55', '49', '56', '39', '45', '65', '59', '70', '46', '11', '77',
       '67', '76', '85', '72', '13', '89', '74', '71', '64', '62', '3',
       '80', '73', '75', '83', '78', '68', '66', '86', '87', '95', '90',
       '6', '12', '99', '88', '9', '93', '10', ' ', '82', '92', '79', '1'],
      dtype=object)

In [31]:
# unique values for agency type
# Lots of missing values (0)
data["Perpetrator Sex"].unique()

array(['Male', 'Unknown', 'Female'], dtype=object)

In [32]:
# unique values for agency type
# Lots of missing values (0)
data["Perpetrator Sex"].value_counts()

Male       399541
Unknown    190365
Female      48548
Name: Perpetrator Sex, dtype: int64

In [33]:
# unique values for agency type
# Lots of missing values (0)
data["Perpetrator Race"].value_counts()

White                            218243
Black                            214516
Unknown                          196047
Asian/Pacific Islander             6046
Native American/Alaska Native      3602
Name: Perpetrator Race, dtype: int64

In [34]:
# unique values for agency type
# Lots of missing values (0)
data["Perpetrator Ethnicity"].value_counts()

Unknown         446410
Not Hispanic    145172
Hispanic         46872
Name: Perpetrator Ethnicity, dtype: int64

In [35]:
# unique values for agency type
# Replace values with +1
data["Perpetrator Count"].value_counts()

0     558838
1      54745
2      15777
3       6531
4       1489
5        592
6        207
7        129
9         52
8         52
10        42
Name: Perpetrator Count, dtype: int64

In [36]:
# unique values for agency type
# Lots of missing values (0)
data["Relationship"].value_counts()

Unknown                 273013
Acquaintance            126018
Stranger                 96593
Wife                     23187
Friend                   21945
Girlfriend               16465
Son                       9904
Family                    9535
Husband                   8803
Daughter                  7539
Boyfriend                 7302
Neighbor                  6294
Brother                   5514
Father                    4361
Mother                    4248
In-Law                    3637
Common-Law Wife           2477
Ex-Wife                   1973
Common-Law Husband        1954
Boyfriend/Girlfriend      1383
Stepfather                1360
Sister                    1292
Stepson                   1170
Stepdaughter               754
Ex-Husband                 629
Employer                   509
Employee                   384
Stepmother                 211
Name: Relationship, dtype: int64

In [52]:
test = data[data["Year"]==2014]
#test = test.reset_index()

#test = test.groupby("State")[["Perpetrator Count","Victim Count"]].agg([["sum",'mean','count']])
test1 = test[['Perpetrator Count', "Victim Count"]].reset_index(drop=True)
test1["Perpetrator Count"] += 1
test1["Victim Count"] += 1
test1

       Perpetrator Count  Victim Count
0                      0             1
1                      0             0
2                      0             0
3                      0             0
4                      0             1
...                  ...           ...
14326                  0             0
14327                  0             0
14328                  0             0
14329                  1             0
14330                  1             0

[14331 rows x 2 columns]

In [59]:
# Relationships
data["Perpetrator Count"] += 1
data["Victim Count"] += 1
d = data.groupby(["State","Relationship"])[["Victim Count","Perpetrator Count"]].agg(["sum",'mean','std'])
d.head(40)
# mean 2 per incident?

                             Victim Count                      \
                                      sum      mean       std
State   Relationship
Alabama Acquaintance                 6528  2.050895  0.308967
        Boyfriend                     452  2.000000  0.000000
        Boyfriend/Girlfriend           16  2.000000  0.000000
        Brother                       330  2.000000  0.000000
        Common-Law Husband            158  2.000000  0.000000
        Common-Law Wife               146  2.000000  0.000000
        Daughter                      184  2.271605  0.591869
        Employee                       28  2.000000  0.000000
        Employer                       14  2.333333  0.516398
        Ex-Husband                     78  2.000000  0.000000
        Ex-Wife                       192  2.133333  0.341839
        Family                        532  2.078125  0.309570
        Father                        198  2.020408  0.142119
        Friend                       1028  2.031621  0.206307
        Girlfriend                    672  2.011976  0.108941
        Husband                       724  2.000000  0.000000
        In-Law                        344  2.072289  0.322232
        Mother                        148  2.114286  0.320455
        Neighbor                      322  2.025157  0.157097
        Sister                         64  2.133333  0.345746
        Son                           292  2.229008  0.674422
        Stepdaughter                   44  2.750000  1.341641
        Stepfather                    110  2.037037  0.190626
        Stepmother                     20  2.500000  0.534522
        Stepson                        36  2.000000  0.000000
        Stranger                     2584  2.034646  0.228876
        Unknown                      7156  2.041655  0.331868
        Wife                          864  2.013986  0.117570
Alaska  Acquaintance                  842  2.233422  0.770912
        Boyfriend                      60  2.000000  0.000000
        Boyfriend/Girlfriend            6  2.000000  0.000000
        Brother                        86  2.205128  0.570295
        Common-Law Husband             16  2.000000  0.000000
        Common-Law Wife                 4  2.000000  0.000000
        Daughter                       78  2.437500  0.669015
        Employee                        4  2.000000  0.000000
        Employer                       12  2.000000  0.000000
        Ex-Husband                     10  2.000000  0.000000
        Ex-Wife                        12  2.400000  0.547723
        Family                         94  2.350000  0.921259

                             Perpetrator Count
                                           sum      mean       std
State   Relationship
Alabama Acquaintance                      6659  2.092052  0.407360
        Boyfriend                          457  2.022124  0.147413
        Boyfriend/Girlfriend                16  2.000000  0.000000
        Brother                            334  2.024242  0.154269
        Common-Law Husband                 158  2.000000  0.000000
        Common-Law Wife                    147  2.013699  0.117041
        Daughter                           164  2.024691  0.156150
        Employee                            29  2.071429  0.267261
        Employer                            12  2.000000  0.000000
        Ex-Husband                          78  2.000000  0.000000
        Ex-Wife                            182  2.022222  0.148231
        Family                             525  2.050781  0.219981
        Father                             196  2.000000  0.000000
        Friend                            1038  2.051383  0.220997
        Girlfriend                         676  2.023952  0.153129
        Husband                            736  2.033149  0.220816
        In-Law                             335  2.018072  0.133616
        Mother                             143  2.042857  0.203997
        Neighbor                           331  2.081761  0.297001
        Sister                              60  2.000000  0.000000
        Son                                265  2.022901  0.150161
        Stepdaughter                        33  2.062500  0.250000
        Stepfather                         110  2.037037  0.190626
        Stepmother                          16  2.000000  0.000000
        Stepson                             37  2.055556  0.235702
        Stranger                          2784  2.192126  0.475666
        Unknown                           7104  2.026819  0.163333
        Wife                               865  2.016317  0.126840
Alaska  Acquaintance                       815  2.161804  0.553350
        Boyfriend                           60  2.000000  0.000000
        Boyfriend/Girlfriend                 6  2.000000  0.000000
        Brother                             79  2.025641  0.160128
        Common-Law Husband                  16  2.000000  0.000000
        Common-Law Wife                      4  2.000000  0.000000
        Daughter                            67  2.093750  0.296145
        Employee                             5  2.500000  0.707107
        Employer                            14  2.333333  0.816497
        Ex-Husband                          10  2.000000  0.000000
        Ex-Wife                             10  2.000000  0.000000
        Family                              80  2.000000  0.000000

In [72]:
c = data.groupby(["State", "Year"])[["Perpetrator Count", "Victim Count"]].agg(["sum"])
#c.head(40)
c["Perpetrator Pct Change"] = c["Perpetrator Count"].pct_change().round(4)*100
c["Victim Pct Change"] = c["Victim Count"].pct_change().round(4)*100
c.head(40)

             Perpetrator Count Victim Count Perpetrator Pct Change  \
                           sum          sum
State   Year
Alabama 1980              1109         1068                    NaN
        1981               945          912                 -14.79
        1982               887          864                  -6.14
        1983               772          768                 -12.97
        1984               788          790                   2.07
        1985               836          822                   6.09
        1986               852          870                   1.91
        1987               693          686                 -18.66
        1988               819          804                  18.18
        1989               888          864                   8.42
        1990               965          946                   8.67
        1991              1090          868                  12.95
        1992               782          782                 -28.26
        1993               954          954                  21.99
        1994              1002         1022                   5.03
        1995               934          934                  -6.79
        1996               862          860                  -7.71
        1997               855          886                  -0.81
        1998               686          698                 -19.77
        1999                32           32                 -95.34
        2000               472          474                1375.00
        2001               698          742                  47.88
        2002               585          592                 -16.19
        2003               590          596                   0.85
        2004               506          506                 -14.24
        2005               654          666                  29.25
        2006               729          730                  11.47
        2007               795          802                   9.05
        2008               677          676                 -14.84
        2009               637          638                  -5.91
        2010               386          402                 -39.40
        2012                 4            4                 -98.96
        2013                 4            4                   0.00
        2014                 2            2                 -50.00
Alaska  1980                98          100                4800.00
        1981               146          156                  48.98
        1982               165          226                  13.01
        1983               154          190                  -6.67
        1984               111          150                 -27.92
        1985               104          108                  -6.31

             Victim Pct Change

State   Year
Alabama 1980               NaN
        1981            -14.61
        1982             -5.26
        1983            -11.11
        1984              2.86
        1985              4.05
        1986              5.84
        1987            -21.15
        1988             17.20
        1989              7.46
        1990              9.49
        1991             -8.25
        1992             -9.91
        1993             21.99
        1994              7.13
        1995             -8.61
        1996             -7.92
        1997              3.02
        1998            -21.22
        1999            -95.42
        2000           1381.25
        2001             56.54
        2002            -20.22
        2003              0.68
        2004            -15.10
        2005             31.62
        2006              9.61
        2007              9.86
        2008            -15.71
        2009             -5.62
        2010            -36.99
        2012            -99.00
        2013              0.00
        2014            -50.00
Alaska  1980           4900.00
        1981             56.00
        1982             44.87
        1983            -15.93
        1984            -21.05
        1985            -28.00

In [113]:
import matplotlib.pyplot as plt
cc = c.unstack(level=0)
#df.unstack(level=0).plot(kind='bar', subplots=True)
pct_perp = cc["Perpetrator Pct Change"]
year = pct_perp.reset_index(inplace=True)
year

In [54]:
test = data[data["Year"]==2013]
#test = test.reset_index()

#test = test.groupby("State")[["Perpetrator Count","Victim Count"]].agg([["sum",'mean','count']])
test1 = test[['Perpetrator Count', "Victim Count"]].reset_index(drop=True)
test1["Perpetrator Count"] += 1
test1["Victim Count"] += 1
test1

       Perpetrator Count  Victim Count
0                      1             2
1                      1             1
2                      1             1
3                      1             1
4                      1             1
...                  ...           ...
14440                  1             1
14441                  3             3
14442                  3             3
14443                  3             3
14444                  2             1

[14445 rows x 2 columns]

In [55]:
test1[['Perpetrator Count','Victim Count']].sum()

Perpetrator Count    17930
Victim Count         16721
dtype: int64

In [ ]:
# unique values for agency type
# Lots of missing values (0)
data["Weapon"].value_counts()

In [ ]:
# unique values for agency type
# Lots of missing values (0)
data["Record Source"].value_counts()

## Findings and discussion

## Data Cleaning
To clean the error values we identified and ready the data for subsetting and viziulization.

In [ ]:
# this is only for when we use age otherwise the murder still clearly happened we just do not know the age

In [ ]:
# so murder happened we just do not have the record of age for most observations 
# We have enough data and this will skew our results

In [ ]:
# make a copy of the original data to not alter the dataset

data2 = data.copy()

# replace blanks with zeros
data2['Perpetrator Age'] = data2['Perpetrator Age'].replace(" ", 0)

# format them as integers
data2['Perpetrator Age'] = data2['Perpetrator Age'].astype(str).astype(int)

# so there is 1231 values that are below age 6 --> replace with np.na
# search for ages below 6
# there are murderes under age 6 but are less common 
# check the value counts for each year to 10
under_13 = data2["Perpetrator Age"] < 6

# replace them with nan values for that column
data2["Perpetrator Age"][under_13] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data2 = data2.dropna()

# reset the index 
data2 = data2.reset_index(drop=True)

# convert the column back to integers
data2["Perpetrator Age"] = data2["Perpetrator Age"].astype(int)

# display df information
data2.info()

### Alternative (filling)

# so between age 13 and 99
# mean is 31, stdev is 13 (have to round up to be whole number)
import scipy.stats as stats

# shape parameters
a, b = 13, 99 
# mean and standard deviation
mu, sigma = 31, 13

# A truncated normal continuous random variable
# truncated normal distribution is the probability distribution derived from that of a normally 
# distributed random variable by bounding the random variable from either below or above (or both). 
# probability density function is the probability of something happening within certain range / upper bound 
# restricting normal distribution between an interval 
# a - mu --> 13 - 31 range/13, 99-31/13, loc = location parameter (mean), scale parameter = scale (sigma) --> so stdev will move up and down based on the mean
dist = stats.truncnorm((a - mu) / sigma, (b - mu) / sigma, loc=mu, scale=sigma)

# generate 218668 random numbers based dist conditions 
values = dist.rvs(218668)

In [ ]:
data2["Perpetrator Age"].value_counts()

In [ ]:
data2["Perpetrator Age"].unique()

In [ ]:
# max age reasonable
data2["Perpetrator Age"].max()

In [ ]:
# we are keeping the victim count becasue US has the highest child homocide rate
# and because this possible to be a victim at such a young age than a murder
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2174580/

In [ ]:
vic_count = data2["Victim Age"] == 0 
vic_count.sum()

In [ ]:
vic_count2 = data2["Victim Age"] < 6
vic_count2.sum()

In [ ]:
# deliting unreasonably high ages (setting upper limit)
vic_age_limit = data2["Victim Age"] > 105

# replace them with nan values for that column
data2["Victim Age"][vic_age_limit] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data2 = data2.dropna()

# reset the index 
data2 = data2.reset_index(drop=True)

# convert the column back to integers
data2["Victim Age"] = data2["Victim Age"].astype(int)

# display df information
data2.info()

In [ ]:
# add +1 to counts and offer explanation/proof
# 10 is the largest count
# Assumption 0 is counted as 1 and any additional number is as additional to the count 
# NOTE: run only once, as each time it runs it adds +1 
# how many murderes / how many victims?
# effect on uknown values 

data2["Victim Count"] += 1
data2["Victim Count"].unique()

In [ ]:
# +1 perpetrator count

data2["Perpetrator Count"] += 1
data2["Perpetrator Count"].unique()

In [ ]:
# if we decide to delete the uknowns

In [ ]:
data3 = data2.copy()

In [ ]:
# deliting unreasonably high ages (setting upper limit)
vic_eth_del_unknowns = data3["Victim Ethnicity"] == "Unknown"

# replace them with nan values for that column
data3["Victim Ethnicity"][vic_eth_del_unknowns] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data3 = data3.dropna()

# reset the index 
data3 = data3.reset_index(drop=True)

# convert the column back to integers
data3["Victim Ethnicity"] = data3["Victim Ethnicity"]

# display df information
data3.info()

In [ ]:
# check value counts of all (especially uknowns)
data3["Victim Ethnicity"].value_counts()

In [ ]:
data3["Victim Race"].value_counts()

In [ ]:
data3["Victim Sex"].value_counts()

In [ ]:
data3["Perpetrator Race"].value_counts()

In [ ]:
data3["Perpetrator Sex"].value_counts()

In [ ]:
data3["Perpetrator Ethnicity"].value_counts()

In [ ]:
data3["Incident"].value_counts()

In [ ]:
data3["Crime Solved"].value_counts()

In [ ]:
data3["Perpetrator Ethnicity"].value_counts()

In [ ]:
data3["Weapon"].value_counts()

In [ ]:
# comment on how values change after you removed some
# Uknown moved to 3rd place
data3["Relationship"].value_counts()

# Transforming relavent object type data to numerical values for ML etc.

In [ ]:
data2.info()

In [ ]:
# finish when needed
data4 = data3.copy()

In [ ]:
# saving the the files
data2.to_csv("Age_count_cleaned_data.csv")
data3.to_csv("Age_count_Ethnicity_cleaned_data.csv")

In [ ]:
# SO MANY MISSING VALUES IS A PROBLEM

## Data cleaning conclusion

In [ ]:
# deliting unreasonably high ages (setting upper limit)
perp_eth_del_unknowns = data3["Perpetrator Ethnicity"] == "Unknown"

# replace them with nan values for that column
data3["Perpetrator Ethnicity"][perp_eth_del_unknowns] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data3 = data3.dropna()

# reset the index 
data3 = data3.reset_index(drop=True)

# convert the column back to integers
data3["Perpetrator Ethnicity"] = data3["Perpetrator Ethnicity"]

# display df information
data3.info()

In [ ]:
# deliting unreasonably high ages (setting upper limit)
relat_eth_del_unknowns = data3["Relationship"] == "Unknown"

# replace them with nan values for that column
data3["Relationship"][relat_eth_del_unknowns] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data3 = data3.dropna()

# reset the index 
data3 = data3.reset_index(drop=True)

# convert the column back to integers
data3["Relationship"] = data3["Relationship"]

# display df information
data3.info()

In [ ]:
# deliting unreasonably high ages (setting upper limit)
weap_eth_del_unknowns = data3["Weapon"] == "Unknown"

# replace them with nan values for that column
data3["Weapon"][weap_eth_del_unknowns] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data3 = data3.dropna()

# reset the index 
data3 = data3.reset_index(drop=True)

# convert the column back to integers
data3["Weapon"] = data3["Weapon"]

# display df information
data3.info()

In [ ]:
# deliting unreasonably high ages (setting upper limit)
perprace = data3["Perpetrator Race"] == "Unknown"

# replace them with nan values for that column
data3["Perpetrator Race"][perprace] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data3 = data3.dropna()

# reset the index 
data3 = data3.reset_index(drop=True)

# convert the column back to integers
data3["Perpetrator Race"] = data3["Perpetrator Race"]

# display df information
data3.info()

In [ ]:
data3['Perpetrator Race'].value_counts()

In [ ]:
data3['Perpetrator Ethnicity'].value_counts()

In [ ]:
data3['Victim Ethnicity'].value_counts()

In [ ]:
data3['Perpetrator Sex'].value_counts()

In [ ]:
# deliting unreasonably high ages (setting upper limit)
perpsex = data3["Perpetrator Sex"] == "Unknown"

# replace them with nan values for that column
data3["Perpetrator Sex"][perpsex] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data3 = data3.dropna()

# reset the index 
data3 = data3.reset_index(drop=True)

# convert the column back to integers
data3["Perpetrator Sex"] = data3["Perpetrator Sex"]

# display df information
data3.info()

In [ ]:
# deliting unreasonably high ages (setting upper limit)
vicsex = data3["Victim Sex"] == "Unknown"

# replace them with nan values for that column
data3["Victim Sex"][vicsex] = np.nan

# drop the na row values (results becomes a float for only that column becasue of numpy)
# results have to be assigned otherwise it doesn't updates
data3 = data3.dropna()

# reset the index 
data3 = data3.reset_index(drop=True)

# convert the column back to integers
data3["Victim Sex"] = data3["Victim Sex"]

# display df information
data3.info()

In [ ]:
data3['Victim Sex'].value_counts()

In [ ]:
data3['Incident'].value_counts()

In [ ]:
# over 34 years
data3.groupby("State")[['Perpetrator Count',"Victim Count",'Incident']].agg(["sum",'mean','std'])

## Conclusion
Starting with 638453 of observations after removing all missing or uknown data we end up with 151243.
Which is concerning.
Even if we say 190282 crimes that were not solved is reasonable to have complete data on we still end up with
448172.

In 2014 not cleaned data: Perpetrator Count 17816, Victim Count 16396

CITED: In 2014, the estimated number of murders in the nation was 14,249. 
There are more perpetrators than victims. 

In 2013:

Perpetrator Count    17930

Victim Count         16721

Growth per year
Growth per state

This numbers match almost the same as to online resources meaning that reporting sucks. Why?

Based on the relationship how far/less likely are you to be a victim. 

The victims survey is an important tool for researchers because a significant percentage of crimes are never reported to police and so are not counted in other measures like the FBIâ€™s Uniform Crime Reporting program. By asking nearly 225,000 people if theyâ€™ve been victims of crime and whether they reported it to the police, the survey tries to fill in the gaps of other measures that can undercount crimes in communities where vulnerable populations do not go to the police for help as often.

The U.S. has two major data collection programs, the Uniform Crime Reports from the FBI and the National Crime Victimization Survey from the Bureau of Justice Statistics. However, the U.S. has no comprehensive infrastructure to monitor crime trends and report the information to related parties such as law enforcement.[2]

while domestic violence, domestic child abuse and sexual offences are frequently significantly under-reported because of the intimate relationships involved, embarrassment and other factors that make it difficult for the victim to make a report.

http://theconversation.com/why-the-us-needs-better-crime-reporting-statistics-104731

## Solution for reporting missing ethnicity --> build a classification ML model